parameters:
  level: 1
  paths:
    - src
    - tests
  ignoreErrors:
    - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
    - '#Variable property access on \$this\(Sonnenglas\\MyDHL\\Services\\RateService\).#'
    - '#Variable property access on \$this\(Sonnenglas\\MyDHL\\Services\\ShipmentService\).#'
